<div class="row">
	<div class="span6 offset2">
		<div class="well">
			<%= image_tag @pin.image %>
			<p>
	  		<big><%= @pin.description %></big>
	  		<br><br>
	  		<b><small>Created by <%= link_to @pin.user.name, @pin.user %></small></b>
	  		<% if current_user == @pin.user %>
					<br><%= link_to 'Edit', edit_pin_path(@pin) %>
				<% end %>	
			</p>
		</div>
	</div>
</div>
<%= link_to 'Back', pins_path %>
