<div class="row">
	<div class="span6 offset2">
		<div class="well">
			<p>
	  		<b><%= @pin.description %></b>
			</p>
		</div>
		<% if current_user == @pin.user %>
			<%= link_to 'Edit', edit_pin_path(@pin) %>
		<% end %>	
	</div>
</div>
<br><br>
<small>Created on <%= @pin.created_at %> by <%= @pin.user.name %></small><br>
<%= link_to 'Back', pins_path %>
