<div class="row">
	<div class="span6 offset2">
		<div class="well">
			<%= image_tag @pin.image %>
			<p>
	  		<b><%= @pin.description %></b><br><br>
	  		<small>Created by <%= @pin.user.name %></small>
	  		<% if current_user == @pin.user %>
					<br><%= link_to 'Edit', edit_pin_path(@pin) %>
				<% end %>	
			</p>
		</div>
	</div>
</div>
<%= link_to 'Back', pins_path %>
